version: '3'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - 5432:5432 

  backend:
    build:
      context: ./backend
    ports:
      - 5000
    container_name: backend

  frontend:
    build:
      context: ./frontend
    ports:
      - 8080
    container_name: frontend

  nginx:
    build:
      context: ./nginx
    container_name: nginx
    ports:
      - "20112:20112"
    depends_on:
      - backend
      - frontend

  initdb:
    build: ./backend
    depends_on:
      - db
    command: ["./initdb.sh"]

